.Post {
    background-color: #e4d3c1;
    border: 1px solid #8f755f;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #c06014;
  }
  
  .Heart:hover {
    color: #dadadf;
  }
  
  .HeartOutline:hover {
    color: #c06014;
  }

  .card {
    color: #37251b;
    text-align: center;
  }
